---
title: Home
---
<p>This is a page generated with Assemble templates and the Gumby 2.6 framework.</p>

<p>Check out the <a href="http://gumbyframework.com/docs/">Gumby docs</a> before starting this awesome project.</p>
