---
title: Home
---
<div class="row">
    <div class="twelve columns">

      <p>This is a page generated with Assemble templates and the Gumby 2.6 framework.</p>
      <p>check out the <a href="http://gumbyframework.com/docs/">Gumby docs</a> before starting this awesome project</p>

    </div>
</div>