---
layout: default.hbs
---

<div id="root">
{{> header}}

  <div id="page">

    <div id="main-content">

      {{> body }}

    </div>

    {{> navmain }}

  </div>

  <div id="root_footer"></div>

</div>

{{> footer }}
